body {
	margin-left: auto;
	margin-right: auto;
	background-color: #212F3D;
	font-family: Lato, Arial;
	width: 23em;
}

.mainButton {
	background-color: #212F3D;
	font-family: Lato, Arial;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 23em;
}

h3 {
	color: white;
}

#signature {
	font-size:10px;
	color: white;
}

#math {
	color:#FF5722;
} 
#quimica {
	color:#FF9800;
} 
#write {
	color:#FFEB3B;
} 
#history {
	color:#8BC34A;
	font-size: 18px;
} 
#habi {
	color:#2196F3;
} 
#lab {
	color:#AB47BC;
} 
/*
#lab::selection {
	b
} */
::selection {;
	background:#F39C12;
	color: white; 
}
a:visited {
	color: white; 
}